In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [2]:
df = pd.read_excel('customer_data.xlsx')

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [4]:
df['workclass'].mode()
df['workclass'] = df['workclass'].fillna(df['workclass'].mode()[0])

In [5]:
df['occupation'] = df['occupation'].fillna(df['occupation'].mode()[0])

In [6]:
le = LabelEncoder()
df['sex'] = pd.get_dummies(df['sex'],drop_first=True,dtype='int')

In [7]:
df['native-country'] = le.fit_transform(df['native-country'])
df['race'] = le.fit_transform(df['race'])

df['relationship'] = le.fit_transform(df['relationship'])
df['occupation'] = le.fit_transform(df['occupation'])
df['marital-status'] = le.fit_transform(df['marital-status'])
df['education'] = le.fit_transform(df['education'])
df['workclass'] = le.fit_transform(df['workclass'])
df['income'] = le.fit_transform(df['income'])

In [8]:
df = df.drop('capital-gain',axis=True)
df = df.drop('capital-loss',axis=True)
df = df.drop('native-country',axis=True)
# df = df.drop('education-num',axis=True)

In [9]:
df.isnull().sum()/len(df)

age               0.0
workclass         0.0
fnlwgt            0.0
education         0.0
education-num     0.0
marital-status    0.0
occupation        0.0
relationship      0.0
race              0.0
sex               0.0
capital-gain      0.0
capital-loss      0.0
hours-per-week    0.0
income            0.0
dtype: float64

In [30]:
df

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,sex,hours-per-week,income
0,39,7,77516,9,4,1,1,4,1,40,0
1,50,6,83311,9,2,4,0,4,1,13,0
2,38,4,215646,11,0,6,1,4,1,40,0
3,53,4,234721,1,2,6,0,2,1,40,0
4,28,4,338409,9,2,10,5,2,0,40,0
...,...,...,...,...,...,...,...,...,...,...,...
48837,39,4,215419,9,0,10,1,4,0,36,1
48838,64,4,321403,11,6,10,2,2,1,40,1
48839,38,4,374983,9,2,10,0,4,1,50,1
48840,44,4,83891,9,0,1,3,1,1,40,1
48841,35,5,182148,9,2,4,0,4,1,60,3

In [10]:
X = df.drop('income', axis=1)
y = df['income']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [13]:
svm_model = SVC(kernel='linear', C=1.0)
svm_model.fit(X_train_scaled, y_train)

SVC(kernel='linear')

In [14]:
y_pred = svm_model.predict(X_test_scaled)

In [15]:
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [16]:
print(f"Accuracy: {accuracy:.2f}")
print(f"Confusion Matrix:\n{conf_matrix}")
print(f"Classification Report:\n{class_report}")

Accuracy: 0.54
Confusion Matrix:
[[4809    0  127    0]
 [2407    0   71    0]
 [1083    0  479    0]
 [ 551    0  242    0]]
Classification Report:
              precision    recall  f1-score   support

           0       0.54      0.97      0.70      4936
           1       0.00      0.00      0.00      2478
           2       0.52      0.31      0.39      1562
           3       0.00      0.00      0.00       793

    accuracy                           0.54      9769
   macro avg       0.27      0.32      0.27      9769
weighted avg       0.36      0.54      0.41      9769